:root {
  /* Light mode colors */
  --bg-primary: #ffffff;
  --text-primary: #1b1f23;
  --text-accent: #0049c6;
  --text-webring: #228b22;
  --border-webring: #d9e5c9;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --bg-primary: #1b1f23;
    --text-primary: #ffffff;
    --text-webring: #d9e5c9;
    --text-accent: #4a9eff;
    --border-webring: #2f4f2f;
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  width: 640px;
  max-width: 90%;
  margin: auto;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: var(--text-accent);
  text-decoration: none;
}

a:hover {
  color: var(--text-accent);
  text-decoration: underline;
}


section.about {
  h1 {
    font-size: 1.75rem;
  }
}

footer {
  padding: 1rem 0;
}

section.webring {
  border: solid 1px var(--border-webring);
  color: var(--text-webring);
  padding: 0.5rem 1rem;
  text-align: center;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

section.webring-picker {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

section.webring-picker .divider {
  width: 1px;
  height: 1rem;
  background-color: var(--border-webring);
  flex-shrink: 0;
}

section.webring a {
  color: var(--text-webring);
  text-decoration: none;
}

section.webring a:hover {
  color: var(--text-webring);
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

a.favicon img {
  vertical-align: top;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  width: 16px;
  height: 16px;
}
